@import '../../../syles/variables';

.UserInput {
    width: 200px;

    input {
        border: 1px solid $blue_light;
        font-size: $font_size_normal;
        border-radius: 4px;
        color: $blue;

        padding: 3px 0 2px 5px;

        &::placeholder {
            color: $blue_light;
        }

        &:focus {
            outline: none;
        }
    }
}