@import '../../../syles/mixins';

.LessonItem {
  border-radius: 12px;
  max-width: 170px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);

  &__content {
    padding: 10px 14px 14px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    $parent: &;

    &.blueviolet {
      @include setColorLessonItem(blueviolet, $parent);
    }

    &.green {
      @include setColorLessonItem(green, $parent);
    }
  
    &.blue {
      @include setColorLessonItem(blue, $parent);
    }

    h3, h4, span {
      opacity: 0.7;
    }
  
    &--subject {
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: white;
      border-radius: 10px;
      padding: 1px 8px;
      margin: 0 -8px;
    }

    &--price {
      width: max-content;
      border-radius: 8px;
    }

    &--student {
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px solid gray;
    }
  }
}
